<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información Adicional
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video juegos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-title id="titulo">Video Juegos</ion-title><br>

  <div class="main-container">
    <div class="cards">
      <div class="card card-1">
        <ion-avatar>
          <img src="../../assets/img/cs.jpg" alt="">
        </ion-avatar>
        <ion-text class="card__title">El jugar es uno de mis pasatiempos favoritos, por lo cual le he invertido varias horas a este pasatiempo, en el que tengo un mayor numero de horas es en CSGO</ion-text>>
      </div>
      <div class="card card-1">
        <ion-avatar>
          <img src="../../assets/img/ark.jpg" alt="">
        </ion-avatar>
        <ion-text class="card__title">Ark es mi juego favorito de supervivencia, este se posiciona en el segundo lugar de juegos a los cuales le he invertido horas en este cuento con más de 100h de juego, lastimosamente es un juego que aburre en solitario.</ion-text>>
      </div>
      <div class="card card-1">
        <ion-avatar>
          <img src="../../assets/img/apex.jpg" alt="">
        </ion-avatar>
        <ion-text class="card__title">Apex Legends es actualmente mi juego favorito en el cual llevo por el momento más de 500h las cuales siguen en aumento cada semana, a pesar de ser un juego muy difícil no me cansare de este.</ion-text>
      </div>
      <div class="card card-1">
        <ion-avatar>
          <img src="../../assets/img/kin.jpg" alt="">
        </ion-avatar>
        <ion-text class="card__title">Este juego entra dentro de la categoría Offline ya que solo lo juego en esos momentos donde no cuento con internet y a pesar de ser un juego simple la verdad ,e he enganchado muchísimo por lo cual es de mis favoritos.</ion-text>>
      </div>
      
    </div>
    </div>
</ion-content>
