ion-title{
    text-align: center;
}
#titulo{
    background-color: rgb(13, 67, 112);
    color: white;
    font-size: 25px;
    padding: 10px;
}
ion-card{
    background: rgb(2, 53, 119);
    text-align: justify;
}
ion-label{
    margin: 20px;
}
